body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "NanumSquareR";
}

header {
  background-color: rgb(255, 71, 12);
  font-size: 20px;
  padding: 0 100vw;
  min-width: 400px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
